body {
  font-family: 'Love Ya Like A Sister', cursive;
  text-align: center;
  background-color: #FDFFFC;
  line-height: 1.8; 
}

.header, .mapContainer, .resources {
  padding-top: 10px;
}

p {
  margin: 15px 80px;
}

.header {
  width: 100%;
  height: 100%;
  background-color: #2BBCAE;
}

.header {
  width: 100%;
  height: 100%; 
}

.mapContainer {
  /* padding: 0 5%; */
  background-color: #E71D36;
}

.App {
  margin: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

.resources {
 background-color: #ff9f1c;
 padding-bottom: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.gm-style-iw a {
  color: black;
}
.gm-style-iw {
  font-size: 15px;
  font-family: 'Love Ya Like A Sister', cursive;
}